@import "./base.scss";
@import "./animation.scss";
@import "./pan.scss";
@import "./page2.scss";
@import "./page3.scss";

/* 750为基础设计稿 */
/* 背景图片使用 ~imageBase/xxx.jps 路径， imageBase在webpack alias 设置 */
body {
	background: #000;
}

.share-tip-box {
	background: rgba(8, 8, 8, 0.9);
	z-index: 15;
	top: 0;
	display: none;

	.share-tip {
		top: 99px;
		left: 0px;
	}

	.btn {
		width: 291px;
		height: 77px;
		z-index: 999;
	}

	.back-refresh {
		top: 481px;
	}

	.goto-link {
		top: 589px;
	}
}



.loading-box {
	.load-img {
		top: 330px;
		transform: translate3d(0%, 0%, 0);
	}
	.load-img1 {
		position: absolute;
		top: 415px;
		left: 300px;
		animation: loading 10s infinite forwards;
		opacity: 0;
	}
	.load-img2 {
		position: absolute;
		top: 365px;
		left: 260px;
		opacity: 0;
		animation: loading 10s 1s infinite forwards;
	}
	.load-img3 {
		position: absolute;
		top: 335px;
		left: 206px;
		opacity: 0;
		animation: loading 10s 3s infinite forwards;
	}
	.loading-text {
		color: #AF8353;
		font-weight: bold;
		font-size: 36px;
		text-align: center;
		top: 640px;
	}
}


@keyframes loading {
	0% {
		transform: translate3d(0px, 0px, 0);
		opacity: 0;
	}
	30% {
		transform: translate3d(5px, -40px, 0);
		opacity: 1;
	}

	70% {
		transform: translate3d(10px, 10px, 0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0px, 0px, 0);
		opacity: 0;
	}
}

.container {
	width: 750px;
	height: 100%;
	background-repeat: no-repeat;
	transform: scale3d(0);
	background: #000;
}

.scene {
	width: 100%;
	height: 100%;
}

.music {
	right: 10px;
	top: 20px;
	z-index: 99;
}

.music-off {
	right: 30px;
	top: 42px;
	z-index: 99;
	width: 40px;
	display: none;
	&.active {
		display: block;
	}
}

.home {
	position: relative;
	.join {
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 10%;
	}
}
// page1 ----------------------------------
.page1 {
	height: 100%;
	position: absolute;
	width: 100%;
	display: none;

	.logo {
		z-index: 11;
		top: 50px;
	}

	.back {
		top: -14px;
		left: -20px;
		z-index: 20;
		display: none;
	}

	.select {
		z-index: 11;
		top: 170px;
	}

	.link-type {
		z-index: 11;
		top: 120px;
		display: none;
	}

	$z: 20px;
	$y: 140px;
	$x: 240px;
	$time: 1s;
	.content {
		z-index: 2;
		width: 90%;
		height: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		ul {
			width: 100%;
			perspective: 400px;
			position: absolute;
			top: 20%;
		}

		li{
			position: relative;
			float: left;
			text-align: center;
			width: 33.33333333%;
			z-index: 3;
			box-sizing: border-box;
			height: 190px;
			transform: translate3d(0, 0, 0px);
			transition: all $time;
		}

		.left {
			opacity: 0;
			transform: translate3d(-$x, 0, $z);
			&.play {
				transform: translate3d(0px, 0, 0px);
				opacity: 1;
				transition: all $time;
			}
		}

		.lefttop {
			opacity: 0;
			transform: translate3d(-$y, -$y, $z);
			&.play {
				transform: translate3d(0px, 0, 0px);
				opacity: 1;
				transition: all $time;
			}
		}

		.righttop {
			opacity: 0;
			transform: translate3d($y, -$y, $z);
			&.play {
				transform: translate3d(0px, 0, 0px);
				opacity: 1;
				transition: all $time;
			}
		}

		.bottomleft {
			opacity: 0;
			transform: translate3d(-$y, $y, $z);
			&.play {
				transform: translate3d(0px, 0, 0px);
				opacity: 1;
				transition: all $time;
			}
		}

		.rightbottom {
			opacity: 0;
			transform: translate3d($y, $y, $z);
			&.play {
				transform: translate3d(0px, 0, 0px);
				opacity: 1;
				transition: all $time;
			}
		}

		.top {
			opacity: 0;
			transform: translate3d(0px, -$y, $z);
			&.play {
				transform: translate3d(0px, 0, 0px);
				opacity: 1;
				transition: all $time;
			}
		}

		.center {
			opacity: 0;
			transform: translate3d(0px, 0, $z * 11);
			&.play {
				transform: translate3d(0px, 0, 0px);
				opacity: 1;
				transition: all $time;
			}
		}

		.right {
			opacity: 0;
			transform: translate3d($x, 0px, $z);
			&.play {
				transform: translate3d(0px, 0, 0px);
				opacity: 1;
				transition: all $time;
			}
		}

		.origin {
			animation: identifier 2s 1 forwards;
			position: absolute;
		}

	}

}

.btn-create-musiz {
	z-index: 10;
	bottom: 100px;
	display: none;
}

// 星空背景
.pg-canvas {
	position: absolute;
	z-index: 1;
}

.particleground {
	width: 100%;
	height: 1334px;
	position: absolute;
}

.pan-tip {
	background: rgba(0, 0, 0, 0.68);
	z-index: 99;
	display: none;
	img {
		position: absolute;
		top: 458px;
	}
}



// end page1 ------------------------------------------
